<div class="row">
  <div class="small-7 columns">
    <%= render partial: "employee_details" %>
  </div>

  <% if logged_in? and current_user.role? :admin %>
	  <div class="small-5 columns">
	    <%= render partial: "assignment_history" unless @assignments.empty?%>
	  </div>
  <%end%>
</div>


<%= render partial: "partials/object_options", locals: {model_name: "employee", object: @employee}  %>


