<br/>
<h2>Assignment Details</h2>
<br/>
<div class="row">

  <div class="small-4 columns">
	<%= render partial: "assignment_details" %>	
  </div>

   <div class="small-8 columns">
    <%= render partial: "shift_future" %>

  	<br/>
    <%= render partial: "shift_history" %>
  </div>




   <div class="small-12 columns">

<%= render partial: "partials/object_options", locals: {model_name: "assignment", object: @assignment}  %>

</div>
</div>
