<% if @active_flavors.empty? %>
  <p><em>There are no active flavors at this time.</em></p>
<% else %>
  <h3>Active Flavors</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="225">Flavor Name</th>

      </tr>
    </thead>
    <tbody>
      <% @active_flavors.each do |flavor| %>
        <tr>
          <td><%= link_to flavor.name, flavor_path(flavor) %></td>
          <td>
            <%= link_to(edit_flavor_path(flavor), class: 'button tiny radius warning') do %>
              &nbsp;Edit&nbsp;
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @active_flavors, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %> <p>&nbsp;</p>
<% end %>