<h3>Store Flavors</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Store</th>
    </tr>
  </thead>
  <tbody>
    <% @store_flavors.each do |flavor| %>
      <tr>
        <td><%= link_to flavor.name, flavor_path(flavor) %></td>
        <td><%= link_to flavor.store.name, store_path(flavor.store) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @active_jobs, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>

