<div id="list_shifts">
	<div class="small-6 columns">
		<h3>Today's Shifts</h3>	
		<% @shifts = Shift.for_store(@thisStore).for_next_days(0).chronological.paginate(page: params[:page]).per_page(5) %>
		<table class="table table-striped">
		    <thead>
		      <tr>
		        <th>Employee</th>
		        <th>Start time</th>
		        <th>&nbsp;</th>
		      </tr>
		    </thead>
		    <tbody>
		      <% @shifts.each do |shift| %>
		        <tr>
		          <td><%= link_to shift.assignment.employee.name, employee_path(shift.assignment.employee) %></td>
		          <td><%= shift.start_time.to_time.strftime("%I:%M %p") %></td>
		          <td>
		          </td>
		        </tr>
		      <% end %>
		    </tbody>
	  </table>
	  <%= will_paginate @shifts, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>


	  <%= link_to(new_shift_path, id: 'new_shift_link', class: 'button tiny radius', remote: true) do %>
		  <!-- <i class="fa fa-plus"></i> -->
		  &nbsp;Add Shift
	  <% end %>
  </div>
</div>

<!-- Add buttons to list all, edit project or destroy object -->
<%# render partial: "partials/object_options", locals: {model_name: "job", object: @job}  %>