<h3>New Shifts</h3>	

 	<div class="form-actions">
	  	<%= link_to(new_shift_path(store_id: params[:store_id]), id: 'new_shift_link', class: 'button tiny radius', remote:true) do %>
	  	<!-- <i class="fa fa-plus"></i> -->
	  		<!-- <a href="javascript:;" onclick="renderNewShiftForm()">TEST JS</a> -->
	  	&nbsp;Add Shift
		<% end %>
	</div>

	<%= render partial: "list_new_shifts", locals: {store: @store, shifts: @new_shifts}  %>
