<% unless @incomplete_shifts.empty? %>
  <div class="panel callout radius">
    <h3>Incomplete Shifts</h3>
    <ul>
      <% @incomplete_shifts.each do |shift| %>
        <li><%= link_to shift.assignment.employee.proper_name, employee_path(shift.assignment.employee) %></li>
      <% end %>
    </ul>
  </div>
<% end %>