<div id="list_of_jobs">
	<% unless @jobs.empty? %>
      <p><b>Jobs for <%#= @shift.employee.name %>:</b>
        <ol>
          <% for job in @jobs %>
            <li><%= job.name %></li>
          <% end %>
        </ol>
      </p>
    <% end %>
</div>